In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import eda


plt.style.use('fivethirtyeight')
# plt.style.use('ggplot')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
% load_ext giphy_magic

ImportError: No module named eda

In [3]:
train = pd.read_csv('trainclean.csv')

In [4]:
newspray = pd.read_csv('newspray.csv')

In [5]:
newspray.head()

,Unnamed: 0,Date,Time,Latitude,Longitude,full_date,coordinates,address
0,0,2011-08-29,6:56:58 PM,42.391623,-88.089163,2011-08-29 18:56:58,"42.3916233333, -88.0891633333","Ridgewood Lane, Lake Villa, Lake County, Illin..."
1,1,2011-08-29,6:57:08 PM,42.391348,-88.089163,2011-08-29 18:57:08,"42.3913483333, -88.0891633333","Ridgewood Lane, Lake Villa, Lake County, Illin..."
2,2,2011-08-29,6:57:18 PM,42.391022,-88.089157,2011-08-29 18:57:18,"42.3910216667, -88.0891566667","Ridgewood Lane, Lake Villa, Lake County, Illin..."
3,3,2011-08-29,6:57:28 PM,42.390637,-88.089158,2011-08-29 18:57:28,"42.3906366667, -88.0891583333","Ridgewood Lane, Lake Villa, Lake County, Illin..."
4,4,2011-08-29,6:57:38 PM,42.390410,-88.088858,2011-08-29 18:57:38,"42.39041, -88.0888583333","Ridgewood Lane, Lake Villa, Lake County, Illin..."

In [ ]:
df = pd.merge(left=train, right=newspray, on='Date')